# question 1 : Write a code to reverse a string.

In [ ]:
# using slice
str = "hemangi"
print(str[::-1])

ignameh

In [ ]:
#using reverse function with join
print("".join(reversed(str)))

ignameh

#question 2 : Write a code to count the number of vowels in a string.

In [ ]:
# str = "hemangi"
# vowels = "aeiouAEIOU"
# count = sum(str.count(vowel) for vowel in vowels)
# print(count)

str = input("enter the string : ")
vowels = 0
for i in str:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        vowels = vowels +  1
print("number of vowels are : ", vowels)

enter the string : hemaangii
number of vowels are :  5

# question 3 : Write a code to check if a given string is a palindrome or not

In [ ]:
str = input("enter the string : ")
if str == str[::-1]:
    print("palindrome")
else:
    print("not palindrome")

enter the string : hemangi
not palindrome

#question 4 : Write a code to check if two given strings are anagrams of each others.

In [ ]:
str1 = input("enter the string : ")
str2 = input("enter the string : ")
if sorted(str1) == sorted(str2):
    print("anagram")
else:
    print("not anagram")

print(sorted(str1))
print(sorted(str2))

enter the string : listen
enter the string : silent
anagram
['e', 'i', 'l', 'n', 's', 't']
['e', 'i', 'l', 'n', 's', 't']

# question 5 :  Write a code to find all occurrences of a given substring within another string.

In [ ]:
str = input("enter the string : ")
sub_str = input("enter the substring :")
res = [i for i in range(len(str)) if str.startswith(sub_str, i)]
print(res)

enter the string : hey marry , marry play with another marry , take care marry
enter the substring :marry
[4, 12, 36, 54]

# question 6 : Write a code to perform basic string compression using the counts of repeated characters.

In [ ]:
from itertools import groupby
def encode_str(input_str):
    return [(len(list(n)), m) for m,n in groupby(input_str)]

str1 =input("enter the string : ")
print("Original string:" , str1 )
print("result : ", encode_str(str1))

enter the string : aaabbbccdd
Original string: aaabbbccdd
result :  [(3, 'a'), (3, 'b'), (2, 'c'), (2, 'd')]

# question 7 : Write a code to determine if a string has all unique character.

In [ ]:
str = input("enter the string : ")
if len(str) == len(set(str)):
    print("unique")
else:
    print("not unique")

enter the string : hemangi
unique

# question 8 : Write a code to convert a given string to uppercase or lowercase.

In [ ]:
str = input("enter the string : ")
print(str.upper())
print(str.lower())

enter the string : heMANGI
HEMANGI
hemangi

# question 9 :  Write a Code to Count the number of words in a string.

In [ ]:
str = input("enter the string : ")
print(len(str.split()))
print(str.split())

enter the string : hello india ! how are you aa !!
8
['hello', 'india', '!', 'how', 'are', 'you', 'aa', '!!']

#question 10. Write a code to concatenate two strings without using the + operator.

In [ ]:
str1 = input("enter the string : ")
str2 = input("enter the string : ")
print(" ".join([str1,str2]))

enter the string : hello
enter the string : world
hello world

#question 11. Write a code to remove all occurrences of a specific element from a list.

In [ ]:
def removeele(my_list, element):
  # Use list comprehension to create a new list without the specified element
  return [item for item in my_list if item != element]


list = [1, 2, 3, 4, 2, 5, 2,5,5,5]
remove_ele = 5
new_list = removeele(list,remove_ele)
print(new_list)

[1, 2, 3, 4, 2, 2]

#question 12. Implement a code to find the second largest number in a given list of integers.

In [ ]:
list = [5,35,3,45,23,1]
list.sort()
print(list)
print("second largest element : ",list[-2])

[1, 3, 5, 23, 35, 45]
second largest element :  35

#question 13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as key and their counts as values.

In [ ]:
list = [1, 2, 3, 4, 2, 5, 2,5,5,5]
dict = {}
for i in list:
    if i in dict:
        dict[i] += 1
    else:
        dict[i] = 1
print(dict)

{1: 1, 2: 3, 3: 1, 4: 1, 5: 4}

# question 14.Write a code to reverse a list in-place without using an built-in reverse functions.

In [ ]:
list = [1, 2, 3, 4, 2, 5, 2,5,5,5]
print(list[::-1])

[5, 5, 5, 2, 5, 2, 4, 3, 2, 1]

#question 15 . Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [ ]:
list = [1, 5, 3, 4, 2, 5, 2,5,5,5]
new_list = []
for i in list:
    if i not in new_list:
        new_list.append(i)

print(new_list)

[1, 5, 3, 4, 2]

# question 16 . Create a code to check if a given list is sorted (either in ascending or descsending order) or not.

In [ ]:
list = [1, 5, 3, 4, 2, 5, 2,5,5,5]
if list == sorted(list):
    print("sorted")
else:
    print("not sorted")

not sorted

#question 17 .  Write a code to merge two sorted lists into a single sorted list.

In [ ]:
list1 = [10,15,12,45]
list2 = [56,13,34,90,67]
list3 = list1 + list2
list3.sort()
print(list3)

[10, 12, 13, 15, 34, 45, 56, 67, 90]

#question 18 .  Implement a code to find the intersection of two given lists.

In [ ]:
def find_intersection(list1, list2):
  # Create an empty list to store the intersection elements
  intersection_list = []
  for item in list1:
    if item in list2 and item not in intersection_list:
      intersection_list.append(item)
  return intersection_list


list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
intersection = find_intersection(list1, list2)
print(intersection)

[3, 4, 5]

#question 19 . Create a code to find the union of two lists without duplicates.

In [ ]:
def find_union(list1, list2):
  # Create an empty list to store the union elements
  union_list = []

  for item in list1:
    if item not in union_list:
      union_list.append(item)

  for item in list2:
    if item not in union_list:
      union_list.append(item)

  return union_list


list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
union = find_union(list1, list2)
print(union)

[1, 2, 3, 4, 5, 6, 7]

# question 20  . Write a code to shuffle a given list randomly without using an built-in shuffle functions.

In [ ]:
import random

def custom_shuffle(lst):
  # Iterate through the list
  for i in range(len(lst)):
    # Generate a random index between i and the end of the list
    j = random.randint(i, len(lst) - 1)
    # Swap elements at indices i and j
    lst[i], lst[j] = lst[j], lst[i]

list = [1, 2, 3, 4, 5]
custom_shuffle(list)
print(list)

[4, 3, 1, 5, 2]

# question 21 .Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [1]:
t1=(1,2,3,4,5)
t2=(4,5,6,7,8)
t3 = tuple(set(t1) & set(t2))
print(t3)

(4, 5)

# question 22. Create a code that prompts the user to enter two sets of integers separated by commas. Then print the intersection of these two sets.

In [2]:
s1 =input("enter the set of integers : ")
s2 =input("enter the set of integers : ")
s1 = set(map(int, s1.split(',')))
s2 = set(map(int, s2.split(',')))
s3 = s1.intersection(s2)
print(s3)

enter the set of integers : 1,2,3,4
enter the set of integers : 1,4,5,6,7
{1, 4}

# question 23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [3]:
def concatenate_tuples(t1, t2):
  # Create a new tuple by concatenating t1 and t2
  new_tuple = t1 + t2
  return new_tuple


t1 = (1, 2, 3)
t2 = (4, 5, 6)
result = concatenate_tuples(t1, t2)
print(result)

(1, 2, 3, 4, 5, 6)

#24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [4]:
s1 =input("enter the set of strings : ")
s2 =input("enter the set of strings : ")
s1 = set(s1.split(','))
s2 = set(s2.split(','))
s3 = s1.difference(s2)
print(s3)

enter the set of strings : 1,2,3,4
enter the set of strings : 3,4,5,6
{'1', '2'}

# 25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [7]:
def extract_elements(t, start, end):
  # Extract elements from the specified range
  new_tuple = t[start:end+1]
  return new_tuple

t = (1, 2, 3, 4, 5, 6, 7, 8, 9)
print(t)
start = int(input("enter the start index : "))
end = int(input("enter the end index : "))
result = extract_elements(t, start, end)
print(result)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
enter the start index : 1
enter the end index : 5
(2, 3, 4, 5, 6)

# 26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [10]:
s1 =input("enter the set of characters : ")
s2 =input("enter the set of characters : ")
s1 = set(s1.split(','))
s2 = set(s2.split(','))
s3 = s1.union(s2)
print(s3)

enter the set of characters : 1,2,3
enter the set of characters : 3,4,5
{'1', '3', '4', '2', '5'}

# 27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [12]:
def find_max_min(t):
  # Unpack the tuple to find the maximum and minimum values
  max_value = max(t)
  min_value = min(t)
  return max_value, min_value

t = (1, 2, 3, 4, 5, 6, 7, 8, 9)
max_value, min_value = find_max_min(t)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 9
Minimum value: 1

# 28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [13]:
s1= input("enter the set of integers : ")
s2= input("enter the set of integers : ")
s1 = set(s1.split(','))
s2 = set(s2.split(','))
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))

enter the set of integers : 1,2,3,4
enter the set of integers : 3,4,5,6,7
{'1', '3', '5', '4', '2', '6', '7'}
{'3', '4'}
{'1', '2'}

# 29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [15]:
def count_occurrences(t, element):
  # Initialize the count to 0
  count = 0
  # Iterate through the tuple and count occurrences of the element
  for item in t:
    if item == element:
      count += 1
  return count

t = input("enter the tuple : ")
t = tuple(map(int, t.split(',')))
element = int(input("enter the element : "))
count = count_occurrences(t, element)
print("Count of occurrences:", count)

enter the tuple : 1,1,1,2,3,4,4,5
enter the element : 1
Count of occurrences: 3

# 30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [16]:
t1= input("enter the set of strings : ")
t2= input("enter the set of strings : ")
t1 = set(t1.split(','))
t2 = set(t2.split(','))
print(t1.symmetric_difference(t2))

enter the set of strings : 1,2,3,4,5
enter the set of strings : 3,4,5,6,7,8
{'1', '2', '6', '8', '7'}

# 31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [22]:
d1 = input("enter the list of words : ")
d1 = d1.split(',')
d2 = {}
for i in d1:
    if i in d2:
        d2[i] += 1
    else:
        d2[i] = 1
print(d2)

enter the list of words : hello,word,surat,hello
{'hello': 2, 'word': 1, 'surat': 1}

# 32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

In [24]:

def merge_dicts(dict1, dict2):
    # Create a new dictionary to store the merged results
    merged_dict = {}

    # Iterate over the first dictionary and add its items to the merged_dict
    for key, value in dict1.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value

    # Iterate over the second dictionary and add its items to the merged_dict
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value

    return merged_dict

# Example usage:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}

merged = merge_dicts(dict1, dict2)
print(merged)

{'a': 1, 'b': 5, 'c': 7, 'd': 5}

# 33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

In [29]:
def access_nested_dict(nested_dict, keys):
  # Initialize the current dictionary to the nested_dict
  current_dict = nested_dict

  # Iterate through the list of keys
  for key in keys:
    # Check if the key exists in the current dictionary
    if key in current_dict:
      # If the key exists, update the current dictionary to the corresponding value
      current_dict = current_dict[key]
    else:
      # If the key does not exist, return None
      return None

  # Return the value corresponding to the last key in the list
  return current_dict

d1 = {'a': {'b': {'c': 12 }}}
keys = ['a', 'b', 'c']
value = access_nested_dict(d1, keys)
print(value)

keyss = ['a', 'r', 'c']
value1 = access_nested_dict(d1, keyss)
print(value1)

12
None

# 34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

In [30]:
d1 = {'a': 10, 'b': 2, 'c': 3}
d2 = dict(sorted(d1.items(), key=lambda x: x[1]))
print(d2)

{'b': 2, 'c': 3, 'a': 10}

# 35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [34]:
d1 = {'hemangi': 10, 'mitali': 2, 'krinsi':10}
d2 = {}
for key, value in d1.items():
    if value in d2:
        d2[value].append(key)
    else:
        d2[value] = [key]
print(d2)

{10: ['hemangi', 'krinsi'], 2: ['mitali']}