Thoery question word file link : https://1drv.ms/w/c/690b3368af1a3158/EXrEbWqLjtNEtWgYb0B0FWEB18PYj9S0em7KOUZ8FKS4eA?e=z6408L



> Add blockquote

# 1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

In [1]:
def sum_even_numbers(numbers):
    sum = 0
    for num in numbers:
        if num % 2 == 0:
            sum += num
    return sum

# Example usage:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = sum_even_numbers(numbers)
print(result)

30

# 2. Create a Python function that accepts a string and returns the reverse of that string

In [2]:
def reverse_string(string):
    reversed_string = ""
    for i in range(len(string)-1, -1, -1):
        reversed_string += string[i]
    return reversed_string

# Example usage:
string = "Hello, World!"
result = reverse_string(string)
print(result)

!dlroW ,olleH

#3. Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.

In [3]:
def square_numbers(numbers):
    squared_numbers = []
    for num in numbers:
        squared_numbers.append(num**2)
    return squared_numbers

# Example usage:
numbers = [1, 2, 3, 4, 5]
result = square_numbers(numbers)
print(result)

[1, 4, 9, 16, 25]

# 4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [5]:
def is_prime(n):
    """Check if a number n is prime."""
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

# Check numbers from 1 to 200
for num in range(1, 201):
    if is_prime(num):
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

# 5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.

In [7]:
class FibonacciIterator:
    def __init__(self, n):
        self.n = n
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count < self.n:
            result = self.a
            self.a, self.b = self.b, self.a + self.b

            self.count += 1
            return result
        else:
            raise StopIteration

# Example usage:
n = 10
fibonacci_iterator = FibonacciIterator(n)
for num in fibonacci_iterator:
    print(num)

0
1
1
2
3
5
8
13
21
34

# 6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [8]:
def powers_of_2(n):
    power = 1
    for i in range(n+1):
        yield power
        power *= 2

        # Example usage:
n = 5
for power in powers_of_2(n):
    print(power)

1
2
4
8
16
32

# 7. Implement a generator function that reads a file line by line and yields each line as a string.

In [10]:
def read_lines(file_path):
    """Generator function that reads a file line by line and yields each line."""
    try:
        with open(file_path, 'r') as file:
            for line in file:
                yield line
    except IOError as e:
        print(f"Error reading file: {e}")

# Example usage
file_path = 'example.txt'  # Replace with your file path

for line in read_lines(file_path):
    print(line, end='')  # `end=''` is used to avoid adding extra new lines since `line` already includes a newline character

Error reading file: [Errno 2] No such file or directory: 'example.txt'

# 8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple

In [11]:
data = [(1, 5), (3, 2), (2, 8), (4, 1)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(4, 1), (3, 2), (1, 5), (2, 8)]

# 9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [12]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

temperatures_celsius = [0, 10, 20, 30, 40]
temperatures_fahrenheit = list(map(celsius_to_fahrenheit, temperatures_celsius))
print(temperatures_fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0]

# 10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [13]:
def is_vowel(char):
    vowels = 'aeiouAEIOU'
    return char in vowels

string = "Hello, World!"
filtered_string = ''.join(filter(lambda x: not is_vowel(x), string))
print(filtered_string)

Hll, Wrld!

# 11) Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

Write a Python program using lambda and map.

In [15]:
order = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], ["98762", "Programming Python, Mark Lutz", 5, 56.80], ["77226", "Head First Python, Paul Barry", 3, 32.95], ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]
print(list(map(lambda x: (x[0], x[2] * x[3]) if x[2] * x[3] >= 100 else (x[0], x[2] * x[3] + 10), order)))
#

[('34587', 163.8), ('98762', 284.0), ('77226', 108.85000000000001), ('88112', 84.97)]